
/* .main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.board-panel {
    display: grid;
    /* grid-template-rows: 18fr 1fr; */
    /* width: 400px; */
    width:40vw;
    margin: 2%;
}

 #myBoard { 
     /* width: 300px;  */
}

.header {
    text-align: center;
    padding: 3px;
    font-size: 3em;
    border: 8px ridge rgb(139, 118, 118);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
}

.right-panel {
    display: grid;
    grid-template-rows: 3fr 1fr;
    height:50vh;
    width:40vw;
    margin-right:2vw;
}

.right-panel .inner {
    display: grid;
    grid-template-rows: 4fr 4fr;
}

.panel {
    border: solid gray 5px;
    margin: 2px;
    border-radius: 5px;
    background: lightgrey;
} 

 .panel.status {
    font-size: xx-large;
    text-align: center;
    background: darkblue;
    line-height: 1em;
    margin: auto;
    margin-top: 4px; 
    width: 50%;
    color: white;
    border: 1px solid green;
}


.no-bullets {
    list-style-type: none;
}

#pgn-list {
    height: 35vh;
    overflow: auto scroll;
    text-indent: 10px;
    padding:10px;
}

#pgn-list>li {
    font-size: 2em;
    font-family: monospace;
    list-style-type: none;
}

#pgn-list>li.tinygreen {
    color: darkgreen;
    font-size: 1.5em;
}

#promotion-dialog {
    display: none;
}

.ui-dialog {
    padding: 0 !important;
    width: 300px !important;
    border: 0 !important;
}

.ui-dialog-content {
    padding: 0 !important;
    width: 300px !important;
    border: 0 !important;
}

.ui-corner-all {
    border-radius: 3;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 0 !important;
}

#promote-to .ui-selecting {
    background: darkcyan;
}

#promote-to .ui-selected {
    background: cyan;
    color: white;
}

#promote-to {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 450px;
    height: 112px;
}

#promote-to li {
    margin: 0;
    padding: 0;
    width: 112px;
    height: 112px;
    background: darkgrey;
    cursor: pointer;
    float: left !important;
}

.ui-dialog .ui-dialog-content {
    padding: 0;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.noTitleStuff .ui-dialog-titlebar {
    display: none;
}

.promotion-piece {
    width: 112px;
    height: 112px;
}

.piece-name {
    display: none;
}

footer {
    width: "100%";
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-size: small;
}

span.left-credits {
    margin-left: 3em;
    text-align: left;
}

span.filler {
    display: inline-block;
}

span.right-credits {
    margin-right: 3em;
    text-align: right;
}
