<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="p30">
        <h2>{{title}}</h2>
        <br />
        <chatbox></chatbox>
     /div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
    </script>
    <script>
        Vue.component("chatbox", {
            template: `<div><ul>
            <li v-for="msg in messages">{{msg.sender}} : {{msg.text}}</li>
            </ul><input type="text" v:bind="usermessage"><button @click="sendMessage" class="btn btn-block btn-sendchat"></button></div>`,
            data: function() {
                return {messages:[],
                usermessage:''
                }
            }
            methods: {
                addMessage:function(sender, text) {
                    this.messages.append({sender:sender,text:text});
                },
                sendMessage:function(text) {
                    this.messages.append({sender:'Me',text:userMessage});
                    //this.socketio.emit('chat',{sender:currentuser.username,text:userMessage});
                    this.userMessage = ''; //Clear the input box
                }
         
            }
        });

        var app = new Vue({
            el: '#p30',
            data: {
                title: "ParadigmChess30 Chat Room",
            },
        });
    </script>
</body>

</html>