<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="p30">
        <h2>{{title}}</h2>
        <br />
        <chatbox></chatbox>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js">
    </script>
    <script>
        Vue.component("chatbox", {
            template: `<div class="chat-container"><label>Chat</label>
                <ul>
                 <li v-for="msg in messages">{{msg.sender}}: {{msg.text}}</li>
               </ul>  
                 <input type="text" v-model="user_message">
                 <button @click="send_message" class="btn btn-block"></button>
             </div>`
             ,
             style:{
                 .chat-container{
                     width:50vw;
                     height:30vh;
                     background-color:lightgrey;
                 }
        },
            data: function () {
                return {
                    messages: [],
                    user_message:'',
                }
            },
            methods: {
                add_message: function (message) {
                    this.messages.push(message);
                    // alert('messages' + this.messages);
                },
                send_message: function () {
                    this.add_message({
                        sender: 'Me',
                        text: this.user_message
                    });
                    //this.socketio.emit('chat',{sender:currentuser.username,text:userMessage});
                    this.user_message = ''; //Clear the input box
                }
            }
        });

        var app = new Vue({
            el: '#p30',
            data: {
                title: "ParadigmChess30",
            },
        });
    </script>
</body>

</html>